---
import '../../styles/global.css';
---

<div class="px-4 md:px-0 bg-transparent mt-12 md:mt-28">

    <h1 class="text-display md:my-5 my-2">The Island</h1>
    <div class="grid grid-cols-2 gap-4 md:mb-24 mb-6">
        <img class="rounded-lg" src="/images/Blender/blender7.png">
        <img class="rounded-lg" src="/images/Blender/blender8.png">
    </div>

    <p class="text-heading">Anything goes</p>
    <p class="text-body md:mb-12 mb-6">We had a 4-week intro course to the world of blender. A lot about modelling, shaders, textures, lighting and render-settings. The final assignment given was to create a fictional island. Anything goes – as long as it’s an island.</p>

    
    <div class="grid md:grid-cols-5 gap-4 mb-4">

        <div class="md:col-span-2">
            <p class="text-heading">Beginner’s level</p>
            <p class="text-body">Over the course of our course I got really into the modelling aspect of blender. Not a single element in my project was neither downloaded or imported. I built everything myself. I feel like it also says a lot about my level of 3D at the time, which was practically nothing… I focused on one thing, and it pushed me in a stylised direction of low-poly geometry.</p>
        </div>

        <div class="md:col-span-3">
        <video id="fast-video-3" class="w-full aspect-square object-cover rounded-lg" autoplay loop muted playsinline>
                    <source src="/videos/blender1.mp4" type="video/mp4" />
                    <source src="/videos/blender1.webm" type="video/webm" />
        </video>
            <script>
                    const video = document.getElementById('fast-video-3') as HTMLVideoElement;
                    if (video) video.playbackRate = 1;
            </script>
        </div>

    </div>
    
    <div class="grid grid-cols-3 gap-4 md:mb-24 mb-6">
        <img class="fullSize rounded-lg" src="/images/Blender/blender1.png">
        <img class="fullSize rounded-lg" src="/images/Blender/blender2.png">
        <img class="fullSize rounded-lg" src="/images/Blender/blender3.png">
    </div>
    
    
    
    <div class="grid md:grid-cols-4 gap-4 md:mb-0 mb-6">
        <div>
            <p class="text-heading">Storytelling</p>
            <p class="text-body md:mb-12">As I kept working on this project, I kept adding more and more things. It slowly became an assignment in storytelling rather than blender. “Who lives in the house? Why is the island floating? Where does the portal lead? And what the hell is that plane???” But i guess that's the fun part too.</p>
        </div>

        <img class="fullSize rounded-lg" src="/images/Blender/blender4.png">
        <img class="fullSize rounded-lg" src="/images/Blender/blender5.png">
        <img class="fullSize rounded-lg" src="/images/Blender/blender6.png">
    </div>

    <p class="text-heading mb-4">Final renders:</p>
    
    <div class="grid grid-cols-3 gap-4 md:mb-24 mb-1">
        <img class="fullSize rounded-lg" src="/images/Blender/blender7.png">
        <img class="fullSize rounded-lg" src="/images/Blender/blender8.png">
        <img class="fullSize rounded-lg" src="/images/Blender/blender9.png">
    </div>
    <p class="md:hidden text-sm opacity-50 mb-24">click for full size</p>
</div>