---
import '../../styles/global.css';
---

<div class="px-4 md:px-0 bg-transparent mt-12 md:mt-28 mb-48">
    <h1 class="text-display md:my-5 my-2">Valparaíso, Chile</h1>

    <div class="bg-transparent w-full mb-10">
        <video class="w-full object-cover rounded-lg" autoplay muted playsinline>
            <source src="/videos/VALPO-MOTION.mp4" type="video/mp4" />
            <source src="/videos/VALPO-MOTION.webm" type="video/webm" />
           </video>
    </div>

    <p class="text-heading md:mt-40 mt-20">Final Product</p>

    <div class="grid grid-cols-2 md:grid-cols-2 gap-4 my-5">
            <img src="/images/valpo-fp-1.png" alt="" 
                class="fullSize w-full object-cover aspect-square rounded-lg">
            <img src="/images/valpo-fp-2.png" alt="" 
                class="fullSize w-full object-cover aspect-square rounded-lg">
            <img src="/images/valpo-fp-3.png" alt="" 
                class="fullSize w-full object-cover aspect-square rounded-lg">
            <img src="/images/valpo-fp-4.png" alt="" 
                class="fullSize w-full object-cover aspect-square rounded-lg">
    </div> 

    <p class="text-heading md:mt-40 mt-20">Design System</p>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 my-5">
            <img src="/images/wiggle-1.png" alt="" 
                class="fullSize w-full object-cover aspect-square rounded-lg">
            <img src="/images/wiggle-2.png" alt="" 
                class="fullSize w-full object-cover aspect-square rounded-lg">
            <img src="/images/wiggle-3.png" alt="" 
                class="fullSize w-full object-cover aspect-square rounded-lg">
            <img src="/images/wiggle-4.png" alt="" 
                class="fullSize w-full object-cover aspect-square rounded-lg">
    </div> 
    
    
<div class="flex flex-col md:flex-row gap-4 md:mt-40 mt-20">
    <p class="text-body md:w-1/4 leading-relaxed"><span class="text-heading">December 2025</span> <br> To celebrate christmas and new years – my wife, Camila and I went to Chile last year. My wife is from Chile, and has been to Valparaíso many times, so she knew all the cool places. We went to Valparaíso to visit friends and walk around. We had an absolute blast – here are some pictures we took. <br><br><span class="text-body hidden md:block">If you hover you can see me</span></p>
        <div class="group relative md:w-3/4">
            <img src="/images/valpo-moodboard.png" alt="" 
                class="w-full object-cover group-hover:invisible">
            <img src="/images/valpo-me.png" alt="" 
                class="absolute inset-0 w-full h-full object-cover invisible group-hover:visible">
        </div>
</div>
    
<div class="flex flex-col md:flex-row gap-4 md:mt-40 mt-20">
    <p class="text-body md:w-1/4 leading-relaxed"><span class="text-heading">Stairs upon stairs</span> Valparaíso is located on the coast of Chile, on a hill facing the pacific ocean. A common daily theme/struggle for both locals and tourists within the city is the amount of time spent on stairs, so naturally this became the visual anchor of the project.</p>
    <div class="md:w-3/4">
        <img src="/images/valpo-stairs.png" alt="" class="w-full object-cover rounded-xl">
    </div>
</div>

    
    
    
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 md:mt-40 mt-20">
            <div class="md:col-span-1 col-span-2">
                <p class="text-heading">The gift of fonts</p>
                <p class="text-body leading-relaxed">I knew I wanted to work with stairs. With that in mind i started looking at fonts. It occurred to me that the spanish name of Valparaíso has an "´" (accenté) in it. It became the steps in my stairs, and also acted as a way to honour the cultural heritage by using the original language.</p>
            </div>
            
                <img src="/images/valpo-stairs-3.png" alt="" 
                    class="w-full object-cover aspect-square rounded-lg">
                <img src="/images/valpo-font.png" alt="" 
                    class="w-full object-cover aspect-square rounded-lg">
                <img src="/images/valpo-accente.png" alt="" 
                    class="w-full object-cover aspect-square rounded-lg">
                <img src="/images/valpo-rainbow.png" alt="" 
                    class="w-full object-cover aspect-square rounded-lg">
                <img src="/images/valpo-system.png" alt="" 
                    class="md:cols-span-1 w-full object-cover aspect-square rounded-lg">

      
    </div>
    
    <div class="grid grid-cols-4 md:grid-cols-5 gap-4 md:mt-40 mt-20 mb-24">

            <div class="pr-4 col-span-4 md:col-span-2">
                <p class="text-heading">Bohemian streets</p>

                <p class="text-body">The streets of Valparaíso will offer you so much color, without even asking you. The city is filled with grafitti, semi-legal streetart. It's a visual explosion of impressions to step into. I colorpicked a few images and narrowed it down to five central + a black and a "white"</p>
                
            </div>

            <img src="/images/valpo-color.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg col-span-4 md:col-span-1">
            
            <div class="bg-[#A8D4B3] aspect-square rounded-lg flex items-center justify-center md:text-heading text-body md:text-transparent md:hover:text-white">#A8D4B3</div>
            <div class="bg-[#FE0600] aspect-square rounded-lg flex items-center justify-center md:text-heading text-body md:text-transparent md:hover:text-white">#FE0600</div>
            <div class="bg-[#135FD7] aspect-square rounded-lg flex items-center justify-center md:text-heading text-body md:text-transparent md:hover:text-white">#135FD7</div>
            <div class="bg-[#F9DC09] aspect-square rounded-lg flex items-center justify-center md:text-heading text-body md:text-transparent md:hover:text-white">#F9DC09</div>
            <div class="bg-[#FC7D38] aspect-square rounded-lg flex items-center justify-center md:text-heading text-body md:text-transparent md:hover:text-white">#FC7D38</div>
            <div class="bg-[#362E2B] aspect-square rounded-lg flex items-center justify-center md:text-heading text-body md:text-transparent md:hover:text-white">#362E2B</div>
            <div class="bg-[#EAE0C5] aspect-square rounded-lg flex items-center justify-center md:text-heading text-body md:text-transparent md:hover:text-dark">#EAE0C5</div>
    </div> 

    