---
import '../../styles/global.css';
---

<div class="px-4 md:px-0 bg-transparent mt-12 md:mt-28 mb-48">

    <h1 class="text-display md:my-5 my-2">Motion Design</h1>
    
    <div class="bg-transparent w-full mb-10">
        <video class="w-full object-cover rounded-lg" loop autoplay muted playsinline>
            <source src="/videos/motion.mp4" type="video/mp4" />
            <source src="/videos/motion.webm" type="video/webm" />
        </video>
    </div>

    <!-- SHOWREEL -->
    <div class="grid md:grid-cols-3 gap-4 my-24">
        <div>
            <p class="text-heading">Showreel</p>
            <p class="text-body leading-relaxed">My showreel! A collection of some of the things I've made. Edited in After Effects, music by <a href="https://www.youtube.com/watch?v=pyM4ulKDVP4" target="_blank">
                
            <span class="text-body font-bold italic underline">Nu Genea</span>
            </p>
            </a>
        </div>
        <div class="col-span-2 w-full rounded-lg overflow-hidden aspect-video">
            <iframe                 
                src="https://www.youtube-nocookie.com/embed/0jI4oOvcc3c?rel=0&modestbranding=1&controls=1" 
                class="w-full h-full border-0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
                loading="lazy"
            ></iframe>
        </div>
    </div>

        <!-- EXPLAINER -->
    <div class="grid md:grid-cols-3 gap-4 my-24">
        <div>
            <p class="text-heading">Videnskab.dk</p>
            <p class="text-body leading-relaxed">Solo exam assignment. An explainer made for Videnskab.dk about oxygen depletion in the Danish fjords. Very important subject, that was to be communicated as teaching material for the age-group of 10-14 years old.</p>
        </div>
        <div class="col-span-2 w-full rounded-lg overflow-hidden aspect-video">
            <iframe                 
                src="https://www.youtube-nocookie.com/embed/jPStY91sMHU?rel=0&modestbranding=1&controls=1" 
                class="w-full h-full border-0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
                loading="lazy"
            ></iframe>
        </div>
    </div>

    <!-- HERO IMAGE -->
        
    <div class="grid md:grid-cols-3 gap-4 my-24">
        <div>
            <p class="text-heading">Hero Image</p>
            <p class="text-body leading-relaxed">A hero image belonging to the exam project of Videnskab.dk.</p>
        </div>
        <div class="col-span-2 w-full rounded-lg overflow-hidden aspect-video">
            <iframe                 
                src="https://www.youtube-nocookie.com/embed/LzhOMyxMvUk?rel=0&modestbranding=1&controls=1" 
                class="w-full h-full border-0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
                loading="lazy"
            ></iframe>
        </div>
    </div>


    <!-- MIKROGLIA -->

    <div class="grid md:grid-cols-3 gap-4 my-24">
        <div>
            <p class="text-heading">Microglia</p>
            <p class="text-body leading-relaxed">Group project. A scientific explainer that explains the nature of 'Microglia'. A substance whithin the human brain, that has comlpex behaviours.</p>
        </div>
        <div class="col-span-2 w-full rounded-lg overflow-hidden aspect-video">
            <iframe                 
                src="https://www.youtube-nocookie.com/embed/GGGG3UKI0vg?rel=0&modestbranding=1&controls=1" 
                class="w-full h-full border-0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
                loading="lazy"
            ></iframe>
        </div>
    </div>

    <!-- VALPO! -->

    <div class="grid md:grid-cols-3 gap-4 my-24">
        <div>
            <p class="text-heading">Valparaíso, Chile</p>
            <p class="text-body leading-relaxed">Solo project. Motion graphic made to show the visual identity and design system behind the  coastal city.</p>
        </div>
        <div class="col-span-2 w-full rounded-lg overflow-hidden aspect-video">
            <iframe                 
                src="https://www.youtube-nocookie.com/embed/PIo-vZgKdbA?rel=0&modestbranding=1&controls=1" 
                class="w-full h-full border-0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
                loading="lazy"
            ></iframe>
        </div>
    </div>

    <!-- SGAN -->

    <div class="grid md:grid-cols-3 gap-4 my-24">
        <div>
            <p class="text-heading">Solen Går Aldrig Ned</p>
            <p class="text-body leading-relaxed">Solo project. "The Sun Never Goes Down" – a hobby-project where i helped a friend make the title sequence for his short film. See the full film 
                <a href="https://www.ekkofilm.dk/shortlist/film/solen-gar-aldrig-ned/" target="_blank">
                    <span class="text-body font-bold underline ">here</span>
                </a>
            </p>
        </div>
        <div class="col-span-2 w-full rounded-lg overflow-hidden aspect-video">
            <iframe                 
                src="https://www.youtube-nocookie.com/embed/UegPd3Bkabc?rel=0&modestbranding=1&controls=1" 
                class="w-full h-full border-0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
                loading="lazy"
            ></iframe>
        </div>
    </div>

    <!-- FILM -->

    <div class="grid md:grid-cols-3 gap-4 my-24">
        <div>
            <p class="text-heading">Film course</p>
            <p class="text-body leading-relaxed">Group projects. We had a 4-week course in filmmaking. We made two different. One with real cameras – one with smartphone. <br><br><span class="text-sm italic font-bold opacity-50">Spoiler: the smartphone-film is best!</span></p>
        </div>

        <div class="col-span-1 w-full rounded-lg overflow-hidden aspect-video">
            <iframe                 
                src="https://www.youtube-nocookie.com/embed/NZm1bhmBGHg?rel=0&modestbranding=1&controls=1" 
                class="w-full h-full border-0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
                loading="lazy"
            ></iframe>
        </div>

        <div class="col-span-1 w-full rounded-lg overflow-hidden aspect-video">
            <iframe                 
                src="https://www.youtube-nocookie.com/embed/bGunLbLWUEw?rel=0&modestbranding=1&controls=1" 
                class="w-full h-full border-0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
                loading="lazy"
            ></iframe>
        </div>
    </div>

    <!-- KADK -->

    <div class="grid md:grid-cols-3 gap-4 my-24">
        <div>
            <p class="text-heading">My camera-roll</p>
            <p class="text-body leading-relaxed">A project i made in relation to the admission test to Danish Royal Design School (KADK) <br><br><span class="text-sm italic font-bold opacity-50">Spoiler: I didn't get in!</span></p></p>
        </div>
        <div class="col-span-2 w-full rounded-lg overflow-hidden aspect-video">
            <iframe                 
                src="https://www.youtube-nocookie.com/embed/OGlSmDPZIFU?rel=0&modestbranding=1&controls=1" 
                class="w-full h-full border-0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
                loading="lazy"
            ></iframe>
        </div>
    </div>

    
    







</div>