---
import '../../styles/global.css';
---

<div class="px-4 md:px-0 bg-transparent mt-12 md:mt-28">
    <h1 class="text-display md:my-5 my-2">She Can Play</h1>

    <div class="bg-transparent w-full mb-10">
        <img src="/images/SheCanPlay/SCP-INTRO.png" class="rounded-lg" alt="">
    </div>
    
    <p class="text-display md:mt-40 mt-20 mb-5">Where music meets</p>
<div class="flex flex-wrap gap-4 mb-20">
    <p class="w-full md:w-[calc(50%-0.5rem)] text-body"><span class="text-heading">The collaborative</span> <br>She Can Play is a musical collaborative and community for women and gender minority in the music industry. The mission of the community is simple. It's a safe space for women to develop their musical talents and to form connections and relations. The identity they had before was a little quiet and undefined, so we got as a group assignment to create a new identity in two weeks.</p>
    <img class="w-full md:w-[calc(50%-0.5rem)] object-cover rounded-xl" src="/images/SheCanPlay/SCP-IMAGE-1.png">
    <img class="w-full md:w-[calc(50%-0.5rem)] object-cover rounded-xl" src="/images/SheCanPlay/SCP-IMAGE-2.png">
    <img class="w-full md:w-[calc(50%-0.5rem)] object-cover rounded-xl" src="/images/SheCanPlay/SCP-IMAGE-3.png">
</div>
    
<div class="flex flex-col md:flex-row gap-4 mb-5">
    <p class="text-body md:w-2/4"><span class="text-heading">Rebels</span><br> My group, and I, quickly fell in love with the rebellion-like attitude towards the music industry. To challenge the norms, to dare to be different and to give a chance to someone who would otherwise get overlooked. To visualize this 'diamond in the rough'-feeling, we applied an overlay crunchy texture to almost everything we did.</p>
    <div class="md:w-2/4">
        <img src="/images/SheCanPlay/SCP-TEXTURE.png" alt="" class="w-full object-cover rounded-xl">
    </div>
</div>

    
    <p class="text-display md:mt-40 mt-20 mb-5">Logo</p>

<div class="flex flex-col md:flex-row gap-4 mb-5">
        <p class="text-body md:w-1/4"><span class="text-heading">The meeting...</span><br> The logo is based in two musical notes – meeting and cutting out an 'S' for She Can Play.</p>
        <img class="w-full md:w-1/4 object-cover rounded-xl" src="/images/SheCanPlay/SCP-noder-1.png">
        <img class="w-full md:w-1/4 object-cover rounded-xl" src="/images/SheCanPlay/SCP-noder-2.png">
        <img class="w-full md:w-1/4 object-cover rounded-xl" src="/images/SheCanPlay/SCP-noder-3.png">
</div>


<img class="w-full object-cover rounded-xl" src="/images/SheCanPlay/SCP-FONT.png">












    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:my-10 my-2">
            <div class="pr-4">
                <p class="text-heading">The gift of fonts</p>
                <p class="text-body">I knew I wanted to work with stairs. With that in mind i started looking at fonts. It occurred to me that the spanish name of Valparaíso has an "´" (accenté) in it. It became the steps in my stairs, and also acted as a way to honour the cultural heritage by using the original language.</p>
            </div>
            <img src="/images/valpo-stairs-3.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
            <img src="/images/valpo-font.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
            <img src="/images/valpo-accente.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
            <img src="/images/valpo-rainbow.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
            <img src="/images/valpo-system.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
    </div>

    <p class="text-display md:mt-40 mt-20 mb-5">Colors</p>
    
    <div class="grid grid-cols-4 md:grid-cols-5 gap-4 md:my-10 my-2">

            <div class="pr-4 col-span-4 md:col-span-2">
                <p class="text-heading">Bohemian streets</p>

                <p class="text-body">The streets of Valparaíso will offer you so much color, without even asking you. The city is filled with grafitti, semi-legal streetart. It's a visual explosion of impressions to step into. I colorpicked a few images and narrowed it down to five central + a black and a "white"</p>
                
            </div>

            <img src="/images/valpo-color.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg col-span-4 md:col-span-1">
            
            <div class="bg-[#A8D4B3] aspect-square rounded-lg flex items-center justify-center md:text-heading text-body md:text-transparent md:hover:text-white">#A8D4B3</div>
            <div class="bg-[#FE0600] aspect-square rounded-lg flex items-center justify-center md:text-heading text-body md:text-transparent md:hover:text-white">#FE0600</div>
            <div class="bg-[#135FD7] aspect-square rounded-lg flex items-center justify-center md:text-heading text-body md:text-transparent md:hover:text-white">#135FD7</div>
            <div class="bg-[#F9DC09] aspect-square rounded-lg flex items-center justify-center md:text-heading text-body md:text-transparent md:hover:text-white">#F9DC09</div>
            <div class="bg-[#FC7D38] aspect-square rounded-lg flex items-center justify-center md:text-heading text-body md:text-transparent md:hover:text-white">#FC7D38</div>
            <div class="bg-[#362E2B] aspect-square rounded-lg flex items-center justify-center md:text-heading text-body md:text-transparent md:hover:text-white">#362E2B</div>
            <div class="bg-[#EAE0C5] aspect-square rounded-lg flex items-center justify-center md:text-heading text-body md:text-transparent md:hover:text-dark">#EAE0C5</div>
    </div> 

    <p class="text-display md:mt-40 mt-20 mb-5">Design System</p>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 md:my-10 my-5">
            <img src="/images/wiggle-1.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
            <img src="/images/wiggle-2.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
            <img src="/images/wiggle-3.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
            <img src="/images/wiggle-4.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
    </div> 

    <p class="text-display md:mt-40 mt-20 mb-5">Final Product</p>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 md:my-10 my-5">
            <img src="/images/valpo-fp-1.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
            <img src="/images/valpo-fp-2.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
            <img src="/images/valpo-fp-3.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
            <img src="/images/valpo-fp-4.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
    </div> 

        <p class="text-display md:mt-40 mt-20 mb-5">Mockups</p>

    <div class="grid grid-cols-3 gap-4 md:my-10 my-5">
            <img src="/images/valpo-mockup-1.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
            <img src="/images/valpo-mockup-2.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg">
            <img src="/images/valpo-mockup-3.png" alt="" 
                class="w-full object-cover aspect-square rounded-lg mb-12">
    </div> 
</div>

