---
import '../../styles/global.css';
---

<div class="px-4 md:px-0 bg-transparent mt-12 md:mt-28 mb-48">
        <h1 class="text-display md:my-5 my-2">She Can Play</h1>

        <div class="bg-transparent w-full mb-24">
                    <video class="w-full object-cover rounded-lg" autoplay loop muted playsinline>
            <source src="/videos/SCP-MOTION.mp4" type="video/mp4" />
            <source src="/videos/SCP-MOTION.webm" type="video/webm" />
        </video>
            
        </div>

            <!-- <p class="text-heading md:mt-20 mt-12 mb-4">Style Tile</p> -->

    <div class="flex flex-col md:flex-row gap-4 mb-4">
            <p class="text-body md:w-1/4 leading-relaxed    ">The logo is based in two musical notes – meeting and cutting out an 'S' for She Can Play. <br><br> Colors and fonts balances both volume and seriousness.</p>
            <img class="fullSize w-full md:w-1/4 object-cover rounded-xl" src="/images/SheCanPlay/SCP-noder-1.png">
            <img class="fullSize w-full md:w-1/4 object-cover rounded-xl" src="/images/SheCanPlay/SCP-noder-2.png">
            <img class="fullSize w-full md:w-1/4 object-cover rounded-xl" src="/images/SheCanPlay/SCP-noder-3.png">
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
        <img class="fullSize w-full object-cover rounded-xl" src="/images/SheCanPlay/SCP-FONT.png">
        <img class="fullSize w-full rounded-xl" src="/images/SheCanPlay/SCP-COLOR-2.png">
    </div>

    <img class="fullSize w-full object-cover rounded-xl mb-4" src="/images/SheCanPlay/SCP-COLOR-1.png">

    <div class="flex flex-wrap md:flex-nowrap gap-4 mb-4">
        <img class="fullSize w-[calc(50%-0.5rem)] md:w-1/4 object-cover rounded-xl" src="/images/SheCanPlay/SCP-MOCKUP-1.png">
        <img class="fullSize w-[calc(50%-0.5rem)] md:w-1/4 object-cover rounded-xl" src="/images/SheCanPlay/SCP-MOCKUP-2.png">
        <img class="fullSize w-[calc(50%-0.5rem)] md:w-1/4 object-cover rounded-xl" src="/images/SheCanPlay/SCP-MOCKUP-3.png">
        <img class="fullSize w-[calc(50%-0.5rem)] md:w-1/4 object-cover rounded-xl" src="/images/SheCanPlay/SCP-MOCKUP-4.png">
    </div>

    <div class="bg-transparent w-full mb-4">
        <img src="/images/SheCanPlay/SCP-INTRO.png" class="rounded-lg" alt="">
    </div>
        
        <p class="text-heading md:mt-20 mt-4 mb-4">The collaborative</p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-20">
        <p class="text-body leading-relaxed">She Can Play is a musical collaborative and community for women and gender minority in the music industry. The mission of the community is simple. It's a safe space for women to develop their musical talents and to form connections and relations. The identity they had before was a little quiet and undefined, so we got as a group assignment to create a new identity in two weeks.</p>
        <img class="fullSize w-full object-cover rounded-xl" src="/images/SheCanPlay/SCP-IMAGE-1.png">
        <img class="fullSize w-full object-cover rounded-xl" src="/images/SheCanPlay/SCP-IMAGE-2.png">
        <img class="fullSize w-full object-cover rounded-xl" src="/images/SheCanPlay/SCP-IMAGE-3.png">
    </div>
    
    <p class="text-heading md:mt-20 mt-4 mb-4">Rebels</p>
    <div class="flex flex-col md:flex-row gap-4 mb-4">
        <p class="text-body md:w-2/4 leading-relaxed">My group, and I, quickly fell in love with the rebellion-like attitude towards the music industry. To challenge the norms, to dare to be different and to give a chance to someone who would otherwise get overlooked. To visualize this 'diamond in the rough'-feeling, we applied an overlay crunchy texture to almost everything we did.</p>
        <div class="md:w-2/4">
            <img src="/images/SheCanPlay/SCP-TEXTURE.png" alt="" class="w-full object-cover rounded-xl">
        </div>
    </div>

    <p class="text-heading leading-relaxed md:mt-20 mt-4 mb-4">All in all...<span class="text-body"><br>A fun two week project. They did not end up using the identity, but I'm still proud of what my group and I acheived. Check out their old identity on their website: 
        <a href="https://www.shecanplay.dk/" target="_blank" class="underline underline-offset-4 hover:opacity-70 transition-opacity">
            She Can Play</a></span></p>


</div>

