/* @font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
} */

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-VariableItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

#scroll-container::-webkit-scrollbar {
  display: none;
}

#scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.glitch-hover {
  white-space: nowrap;
  overflow: hidden;
}

.glitch-hover.glitch-wrap {
  white-space: normal;
}

@media (max-width: 767px) {
  .glitch-hover {
    white-space: normal;
  }
}

.h-screen {
  height: 100dvh;
}

#intro-video::-webkit-media-controls-start-playback-button,
#intro-video::-webkit-media-controls {
  display: none !important;
  -webkit-appearance: none;
}

.hover-nudge-right:hover {
  transform: translateX(10px);
  transition: transform 0.3s ease;
}

.hover-nudge-right {
  transition: transform 0.3s ease;
}

.hover-nudge-left:hover {
  transform: translateX(-10px);
  transition: transform 0.3s ease;
}

.hover-nudge-left {
  transition: transform 0.3s ease;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-display {
    @apply font-black text-3xl md:text-6xl leading-tight;
  }

  .text-heading {
    @apply font-bold text-xl md:text-3xl leading-snug;
  }

  .text-body {
    @apply font-normal text-sm md:text-xl leading-loose;
  }
}

@layer base {
  html {
    color-scheme: light;
    font-family: 'Archivo', sans-serif;
  }
  body, a, button, label, nav, div, p, h1, h2, h3, span {
    @apply transition-colors duration-300;
  }
  body {
    @apply bg-light text-dark overflow-x-hidden overflow-y-auto;
  }
  .dark body {
    @apply bg-dark text-light;
  }
}