---
import '../styles/global.css';
import Header from '../components/Header.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>patience</title>
  </head>
  <body class="px-0 md:px-80">
  </body>
</html>

<Header></Header>

<div class="grid grid-cols-2 px-4 md:px-0">
  <div class="">
    <img src="/public/images/about-wine.png" alt="">
  </div>

  <div class="">
    <div class="bg-transparent text-header pl-4 h-20">who am i?</div>
    <div class="bg-transparent text-body pl-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
  </div>
</div>