---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>verup.work /about</title>
  </head>
<body>

  <a href="/" class="fixed top-5 left-5 text-sm cursor-pointer z-30 opacity-50 hover:opacity-100 transition-opacity">← Index</a>
    <div class="h-screen grid place-items-center">
        <p class="text-4xl">About</p>
    </div>

  <script>
    import '../scripts/projects-nav.js';
  </script>

</body>
</html>