---
import '../styles/global.css';

import About1 from '../components/About1.astro';
import About2 from '../components/About2.astro';
import About3 from '../components/About3.astro';


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>patience</title>
  </head>
  <body class="px-0 md:px-80">
  
    <About1></About1>
    <About2></About2>
    <About3></About3>

  </body>
</html>
