---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Splash from '../components/Splash.astro'
import ProjMap from '../components/ProjMap.astro';
import Divider from '../components/Divider.astro'
import P5 from '../components/P5.astro'
import City from '../components/City.astro'
import Three from '../components/Three.astro'
import Footer from '../components/Footer.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>patience</title>
  </head>
  <body class="px-0 md:px-80">
  </body>
  </html>
  
  <Header></Header>
  <Splash></Splash>
  <Divider></Divider>
  <ProjMap></ProjMap>
  <Divider></Divider>
  <P5></P5>
  <Divider></Divider>
  <City></City>
  <Divider></Divider>
  <Three></Three>
  
  <Footer></Footer>