---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent pt-28 snap-start">
    <h1 class="text-display mb-5">p5.js</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="text-heading"> 'ÅBEN x Valdemar Verup'
            <div class="text-body"><span class="font-extralight italic">Solo Project – Client: ÅBEN Brewery</span><br> A coded label generator made on behalf of and to make life easier for the Copenhagen-based brewery. Using p5.js</div>
        </div>
        <img src="/images/beers1.jpeg" alt="" class="w-full aspect-square object-cover rounded-xl">
    </div>
</div>