---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent mt-12 md:mt-28 snap-start">
    <h1 class="text-display mb-5">ÅBEN x Me</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="text-heading"> p5.js
            <div class="text-body hidden md:block"><span class="font-extralight italic">Solo Project – Client: ÅBEN Brewery</span><br> A coded label generator made on behalf of and to make life easier for the Copenhagen-based brewery. Using p5.js</div>
        </div>
        <a href="/projects#aaben" class="block rounded-xl bg-dark/20 dark:bg-light/20">
    <img src="/images/aaben_shoot.png" alt="" class="w-full aspect-square object-cover rounded-xl transition-all duration-300 hover:scale-95 hover:brightness-75">
</a>
    </div>
</div>