---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent mt-12 md:mt-28 snap-start md:mb-0 mb-52">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="text-display">ÅBEN Brewery
            <h1 class="hidden md:block md:text-heading md:my-10">p5.js</h1>
            <div class="text-body hidden md:block leading-loose"><span class="font-extralight italic">Solo Project – Client: ÅBEN Brewery</span><br> A coded label generator made on behalf of and to make life easier for the Copenhagen-based brewery. Using p5.js</div>
            </div>
            <a href="/projects#aaben" class="block rounded-xl bg-dark/20 dark:bg-light/20">
        <img src="/images/aaben_shoot.png" alt="" class="w-full aspect-square object-cover rounded-xl transition-all duration-300 hover:scale-95 hover:brightness-75">
        </a>
    <h1 class="md:hidden text-heading">A coded label generator made on behalf of and to make life easier for the Copenhagen-based brewery. Using p5.js</h1>
    </div>
</div>