---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent pt-28 snap-start">
    <h1 class="text-display mb-5">ÅBEN x ME</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="text-heading">Solo project working in p5.js
            <div class="text-body">A coded label generator made for Copenhagen-based brewery, 'ÅBEN'.</div>
        </div>
        <img src="/images/beers1.jpeg" alt="" class="w-full aspect-square object-cover rounded-xl">
    </div>
</div>