---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent pt-28 snap-start">
    <h1 class="text-display mb-5">The Island</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="text-heading">Blender
            <div class="text-body hidden md:block"><span class="font-extralight italic">Solo project</span><br>4 week crash-course in Blender. Assignment was to make a fictional island, and go crazy with especially modelling.</div>
        </div>
        <img src="/images/ISLAND_FULL-kopi.png" alt="" class="w-full aspect-square object-cover rounded-xl">
    </div>
</div>