---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent mt-12 md:mt-28 snap-start md:mb-0 mb-52">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="text-display">The Island
            <h1 class="hidden md:block md:text-heading md:my-10">Blender</h1>
            <div class="text-body hidden md:block leading-loose"><span class="font-extralight italic">Solo project</span><br>4 week crash-course in Blender. Assignment was to make a fictional island, and go crazy with especially modelling.</div>
            </div>
            <a href="/projects#motion" class="block rounded-xl bg-dark/20 dark:bg-light/20">
        <img src="/images/ISLAND_FULL-kopi.png" alt="" class="w-full aspect-square object-cover rounded-xl transition-all duration-300 hover:scale-95 hover:brightness-75">
        </a>
    <h1 class="md:hidden text-heading">4 week crash-course in Blender. Assignment was to make a fictional island, and go crazy with especially modelling.</h1>
    </div>
</div>