---
import '../styles/global.css';
---

<button id="burger" class="transparent grid grid-rows-3 h-[2rem] w-[4rem] gap-2 absolute right-5 top-5 z-50 cursor-pointer" aria-label="Menu" aria-expanded="false">
    <div class="bg-dark dark:bg-light rounded-lg transition-all duration-300 origin-center"></div>
    <div class="bg-dark dark:bg-light rounded-lg transition-all duration-300"></div>
    <div class="bg-dark dark:bg-light rounded-lg transition-all duration-300 origin-center"></div>
</button>