---
import '../styles/global.css';
---

<button id="burger" class="transparent flex flex-col justify-between h-[2rem] w-[4rem] fixed right-5 top-5 z-50 cursor-pointer" aria-label="Menu" aria-expanded="false">
    <div class="h-[3px] w-full bg-dark dark:bg-light rounded-full transition-all duration-300 origin-center"></div>
    <div class="h-[3px] w-full bg-dark dark:bg-light rounded-full transition-all duration-300"></div>
    <div class="h-[3px] w-full bg-dark dark:bg-light rounded-full transition-all duration-300 origin-center"></div>
</button>