---
import '../styles/global.css';
---

<div class="px-4 md:px-0 bg-transparent mt-12 md:mt-28 snap-start md:mb-0 mb-52">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="text-display">Valparaíso, Chile
            <h1 class="hidden md:block md:text-heading md:my-10">City branding and visual identity for Valparaíso, Chile</h1>
            <div class="text-body hidden md:block leading-loose"><span class="font-extralight italic">Solo Project</span> <br>Creating a visual identity for Valparaíso, Chile. Taking inspiration in a system of stairs – a design system was formed.</div>
            </div>
            <a href="/projects#city" class="block rounded-xl bg-dark/20 dark:bg-light/20">
        <img src="/images/valpo.png" alt="" class="w-full aspect-square object-cover rounded-xl transition-all duration-300 hover:scale-95 hover:brightness-75">
        </a>
    <h1 class="md:hidden text-heading">Creating a visual identity for Valparaíso, Chile. Taking inspiration in a system of stairs – a design system was formed.</h1>
    </div>
</div>