---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent pt-12 md:pt-28 snap-start">
    <h1 class="text-display mb-5">Visual Identity</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="text-heading">City branding for Valparaíso, Chile
            <div class="text-body"><span class="font-extralight italic">Solo Project</span> <br><br>Creating a visual identity for Valparaíso, Chile. Taking inspiration in a system of stairs – a design system was formed.</div>
        </div>
        <img src="/images/valpo.png" alt="" class=" w-full aspect-square object-cover rounded-xl md:max-h-none">
</div>