---
import '../styles/global.css';
---

<div class="pointer-events-none fixed inset-x-0 top-0 h-32 z-40 bg-gradient-to-b from-light to-transparent dark:from-dark hidden md:block"></div>

<div class="pointer-events-none fixed inset-x-0 bottom-0 h-32 z-40 bg-gradient-to-t from-light to-transparent dark:from-dark hidden md:block"></div>