---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent pt-28 snap-start">
    <h1 class="text-display mb-5">Game Design</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="text-heading">'Too Drunk?'
            <div class="text-body hidden md:block"><span class="font-extralight italic">Group project</span> <br>
            We made a game targeting young people, that tells you when you're too drunk to bike home. Made in Unity
            </div>
        </div>
        <img src="/images/GameDesign.png" alt="" class="w-full aspect-square object-cover rounded-xl">
    </div>
</div>