---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent mt-12 md:mt-28 snap-start">
    <h1 class="text-display mb-5">Too drunk?</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="text-heading">Unity
            <div class="text-body hidden md:block"><span class="font-extralight italic">Group project</span> <br>
            We made a game targeting young people, that tells you when you're too drunk to bike home. Made in Unity
            </div>
        </div>
        <a href="/projects#gamedesign" class="block rounded-xl bg-dark/20 dark:bg-light/20">
    <img src="/images/TooDrunk.png" alt="" class="w-full aspect-square object-cover rounded-xl transition-all duration-300 hover:scale-95 hover:brightness-75">
</a>
    </div>
</div>