---
import '../styles/global.css';
---

<div id="pipe-wrapper" class="hidden md:block fixed right-5 w-[230px] z-40 transition-transform duration-300 group">

    <button
        id="pipe-collapse"
        class="h-full absolute w-full top-1/2 -translate-y-1/2 text-heading cursor-pointer z-10">
    </button>
    
    <div id="pipe-canvas" class="w-full h-full rounded-xl overflow-hidden"></div>
    
    <button
        id="pipe-save"
        class="z-20 absolute bottom-4 text-body right-4 px-2 py-1 hover:bg-dark hover:text-light dark:hover:bg-light dark:hover:text-dark bg-light dark:bg-dark border border-dark/100 dark:border-light/100 rounded cursor-pointer"
    >
        Contact
    </button>
</div>

<script>
    import '../scripts/pipe-draw.js';
</script>