---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent pt-28 snap-start">
    <h1 class="text-display mb-5">Projection Mapping</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="text-heading">Group project working in TouchDesigner
            <div class="text-body">To use projection mapping as a communitative tool. A project that reflects and sheds light on the relationship between technology and nature – and the human in between.</div>
        </div>
        <img src="/images/proj1.JPG" alt="" class="w-full aspect-square object-cover rounded-xl">
    </div>
</div>