---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent mt-12 md:mt-28 snap-start md:mb-0 mb-52">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="text-display">Træet<span class="font-extralight italic"> / The Tree</span>
            <h1 class="hidden md:block md:text-heading md:my-10">TouchDesigner</h1>
            <div class="text-body hidden md:block leading-loose"><span class="font-extralight italic">Group project</span><br>To use projection mapping as a communicative tool. A project that reflects and sheds light on the relationship between technology and nature – and the human in between.</div>
            </div>
            <a href="/projects#projmap" class="block rounded-xl bg-dark/20 dark:bg-light/20">
        <div>
            <video class="w-full aspect-square object-cover rounded-lg transition-all duration-300 hover:scale-95 hover:brightness-75" autoplay loop muted playsinline>
                <source src="/videos/projmap1.mp4" type="video/mp4" />
                <source src="/videos/projmap1.webm" type="video/webm" />
        </div>
        </a>
    <h1 class="md:hidden text-heading">To use projection mapping as a communicative tool. A project that reflects and sheds light on the relationship between technology and nature – and the human in between.</h1>
    </div>
</div>