---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent pt-28 snap-start">
    <h1 class="text-display mb-5">Touch Designer</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <!-- <div class="text-heading">'Træet' / The Tree -->
         <div class="text-heading">'Træet'<span class="font-extralight italic"> / The Tree</span>
            <div class="text-body"><span class="font-extralight italic">Group Project</span> <br><br>To use projection mapping as a communitative tool. A project that reflects and sheds light on the relationship between technology and nature – and the human in between.</div>
        </div>
        <img src="/images/proj1.JPG" alt="" class="w-full aspect-square object-cover rounded-xl">
    </div>
</div>