---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent mt-12 md:mt-28 snap-start">
    <h1 class="text-display mb-5">Træet<span class="font-extralight italic"> / The Tree</span></h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <!-- <div class="text-heading">'Træet' / The Tree -->
         <div class="text-heading">TouchDesigner
            <div class="text-body hidden md:block"><span class="font-extralight italic">Group Project</span> <br>To use projection mapping as a communicative tool. A project that reflects and sheds light on the relationship between technology and nature – and the human in between.</div>
        </div>
        <a href="/projects#projmap" class="block rounded-xl bg-dark/20 dark:bg-light/20">
    <img src="/images/proj1.JPG" alt="" class="w-full aspect-square object-cover rounded-xl transition-all duration-300 hover:scale-95 hover:brightness-75">
</a>
    </div>
</div>