---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent mt-12 md:mt-28 snap-start">
    <h1 class="text-display mb-5">She Can Play</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="text-heading">Visual Identity for She Can Play
            <div class="text-body hidden md:block"><span class="font-extralight italic">Group project</span> <br>Creating a visual identity for record label and musical community, She Can Play.</div>
        </div>
        <a href="/projects#shecanplay" class="block rounded-xl bg-dark/20 dark:bg-light/20">
    <img src="/images/SheCanPlay.png" alt="" class="w-full aspect-square object-cover rounded-xl transition-all duration-300 hover:scale-95 hover:brightness-75">
</a>
</div>