---
import '../styles/global.css';
---

<!-- Overlay: click to close + blur background -->
<div id="menu-overlay" class="fixed inset-0 z-40 bg-dark/30 dark:bg-light/10 backdrop-blur-sm opacity-0 pointer-events-none transition-opacity duration-300"></div>

<div class="fixed inset-0 pointer-events-none overflow-hidden z-50">
    <div id="menu" class="pointer-events-auto absolute top-0 right-0 h-full translate-x-full transition-transform duration-300 ease-in-out flex">

        <nav class="border-l-4 md:border-l-8 h-full w-[40vw] md:w-[min(250px,40vw)] bg-light dark:bg-dark text-dark dark:text-light pl-5 md:pl-10 pt-5 flex flex-col overflow-y-auto">
            <div>
                <a href="/" class="font-bold italic text-lg md:text-2xl block mb-3 md:mb-4 hover:font-black">Index</a>
            </div>
            
            <div>
                <a href="/projects" class="font-bold italic text-lg md:text-2xl block mb-2 md:mb-4 hover:font-black">Projects</a>
                <div class="flex flex-col gap-0.5 md:gap-1 pl-3 md:pl-4 text-xs md:text-body mb-6 md:mb-8">
                    <a class="hover-nudge-right hover:font-black" href="/projects#city">Valparaíso, Chile</a>
                    <a class="hover-nudge-right hover:font-black" href="/projects#aaben">ÅBEN Brewery</a>
                    <a class="hover-nudge-right hover:font-black" href="/projects#motion">Motion Design</a>
                    <a class="hover-nudge-right hover:font-black" href="/projects#blender">The Island</a>
                    <a class="hover-nudge-right hover:font-black" href="/projects#shecanplay">She Can Play</a>
                    <a class="hover-nudge-right hover:font-black" href="/projects#projmap">Træet / The Tree</a>
                    <a class="hover-nudge-right hover:font-black" href="/projects#gamedesign">Too Drunk?</a>
                    <a class="hover-nudge-right hover:font-black" href="/projects#three">Living Room</a>
                </div>
            </div>

            <div>
                <a href="/about" class="font-bold italic text-lg md:text-2xl block mb-3 md:mb-4 hover:font-black">About</a>
            </div>

            <!-- <div>
                <a href="/showreel" class="font-bold italic text-lg md:text-2xl block mb-3 md:mb-4 hover:font-black">Showreel</a>
            </div> -->

            <div>
                <a href="/contact" class="font-bold italic text-lg md:text-2xl block mb-3 md:mb-4 hover:font-black">Contact</a>
            </div>

            <!-- Social icons, mobile only -->
            <div class="md:hidden flex-row pb-8 mt-4">
                
                
                <a href="https://www.instagram.com/valdefar_/?hl=da" target="_blank"><img src="/icons/instagram.svg" alt="" 
                    class="size-12 invert dark:invert-0 mb-4"></a>
                <a href="https://dk.linkedin.com/in/valdemar-verup-91431528b" target="_blank"><img src="/icons/linkedin.svg" alt="" 
                    class="size-12 invert dark:invert-0 mb-4"></a>
                <a href="https://github.com/torskerogn" target="_blank"><img src="/icons/github.svg" alt="" 
                    class="size-12 invert dark:invert-0 mb-4"></a>
                <a href="https://open.spotify.com/playlist/2VGVhYLi709QBApNJo7WSO?si=308c85097d3c4502" target="_blank"><img src="/icons/spotify.svg" alt="" 
                    class="size-12 invert dark:invert-0 mb-4"></a>
            </div>
        </nav>

    </div>
</div>