---
import '../styles/global.css';
---
<div class="px-4 md:px-0 bg-transparent pt-28 snap-start">
    <h1 class="text-display mb-5">Living Room</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="text-heading">Three.js + Blender
            <div class="text-body hidden md:block"><span class="font-extralight italic">Solo project</span> <br>An interactive music video made using Blender and three.js. A living-room island floating in space. User chooses dynamic and composition of track by switching on or off different instruments.</div>
        </div>
        <img src="/images/musicisland.png" alt="" class="w-full aspect-square object-cover rounded-xl">
    </div>
</div>