---
import '../styles/global.css';
---

<div class="px-4 md:px-0 bg-transparent pt-28 snap-start">
    <h1 class="glitch-hover text-display mb-5">&lt;Hello World/&gt;</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="text-heading">'Who am i?'
            <div class="text-body leading-relaxed"><span class="font-extralight italic glitch-hover">I hate this question...</span> <br><br>I am studying a bachelor of 'Visual Communication' at DMJX under the class of 'Coded Design'.
            <br> 
            <br> 
            I make things that are beautiful, moves, reacts and sometimes break ;)
            <br> 
            <br> 
            <span class="glitch-hover">Scroll on, fellow human</span>
            </div>
        </div>
        <img src="/images/about-wine.png" alt="" class="pixel-resolve w-full aspect-square object-cover rounded-xl">
    </div>
</div>
